<div class="container-fluid block-content">
    <div class="text-center hgroup wow zoomInUp" data-wow-delay="0.3s">
        <h1>OUR SERVICES</h1>
        <h2>We have wide network of offices in all major locations to help you with <br> the services we offer</h2>
    </div>
    <div class="row our-services">
        <div class="col-sm-6 col-md-4 col-lg-4 wow zoomInLeft" data-wow-delay="0.3s">
            <a href="11_blog-details.html">
                <span><i class="glyph-icon flaticon-boats4"></i></span>
                <h4>SEA FREIGHT</h4>
                <p>Integer congue elit non semper laore lectus orci posuer nisl tempor lacus mauris led ipsum.</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 wow zoomInUp" data-wow-delay="0.3s">
            <a href="11_blog-details.html">
                <span><i class="glyph-icon flaticon-flying"></i></span>
                <h4>SEA FREIGHT</h4>
                <p>Integer congue elit non semper laore lectus orci posuer nisl tempor lacus mauris led ipsum.</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 wow zoomInRight" data-wow-delay="0.3s">
            <a href="11_blog-details.html">
                <span><i class="glyph-icon flaticon-garage1"></i></span>
                <h4>SEA FREIGHT</h4>
                <p>Integer congue elit non semper laore lectus orci posuer nisl tempor lacus mauris led ipsum.</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 wow zoomInLeft" data-wow-delay="0.3s">
            <a href="11_blog-details.html">
                <span><i class="glyph-icon flaticon-package7"></i></span>
                <h4>SEA FREIGHT</h4>
                <p>Integer congue elit non semper laore lectus orci posuer nisl tempor lacus mauris led ipsum.</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 wow zoomInUp" data-wow-delay="0.3s">
            <a href="11_blog-details.html">
                <span><i class="glyph-icon flaticon-railway1"></i></span>
                <h4>SEA FREIGHT</h4>
                <p>Integer congue elit non semper laore lectus orci posuer nisl tempor lacus mauris led ipsum.</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 wow zoomInRight" data-wow-delay="0.3s">
            <a href="11_blog-details.html">
                <span><i class="glyph-icon flaticon-traffic-signal"></i></span>
                <h4>SEA FREIGHT</h4>
                <p>Integer congue elit non semper laore lectus orci posuer nisl tempor lacus mauris led ipsum.</p>
            </a>
        </div>
    </div>
</div>