<div class="block-content bg-image blog-section inner-offset">
    <div class="container-fluid">
        <div class="hgroup wow fadeInLeft" data-wow-delay="0.3s">
            <h1>LATEST NEWS</h1>
            <h2>READ our latest blog news</h2>
        </div>
        <a class="btn btn-danger pull-right read-all-news wow fadeInRight" data-wow-delay="0.3s" href="09_blog.html">READ ALL NEWS</a>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 one-news wow fadeInLeft" data-wow-delay="0.3s">
                <div [ngStyle]="{'background': '#eee url('+imageLeft + ') no-repeat 0 0'}">
                    <div>
                        <a href="11_blog-details.html">
                            <h3> {{nameLeft}}</h3>
                        </a>
                        <small class="news-author">BY {{createdByLeft}}</small>
                        <small>{{createdDateLeft |date:'MMM dd,yyyy'}}</small>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 two-news wow fadeInRight" data-wow-delay="0.3s">
                <div *ngFor="let it of postRight; let i = index" class="news-item row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div [ngStyle]="{'background': '#eee url(' + baseFolder + it.Image + ') no-repeat 0 0'}"></div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div>
                            <a href="11_blog-details.html">
                                <h3> {{it.Name}}</h3>
                            </a>
                            <small class="news-author">BY {{it.CreatedBy}}</small>
                            <small>{{it.CreatedDate |date:'MMM dd,yyyy'}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>