
<div class="block-content bg-image blog-section inner-offset">
    <div class="container-fluid">
        <div class="hgroup wow fadeInLeft" data-wow-delay="0.3s">
            <h1>LATEST NEWS</h1>
            <h2>READ our latest blog news</h2>
        </div>
        <a class="btn btn-danger pull-right read-all-news wow fadeInRight" data-wow-delay="0.3s" href="09_blog.html">READ ALL NEWS</a>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 one-news wow fadeInLeft" data-wow-delay="0.3s">
                <div style="background-image:url(/assets/images/news-images/1.jpg);">
                    <div>
                        <a href="11_blog-details.html"><h3>Duis vel tellus vitae ante tincidunt tincidun</h3></a>
                        <small class="news-author">BY JOHN DEO</small>
                        <small>JUN 29, 2015</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 two-news wow fadeInRight" data-wow-delay="0.3s">
                <div class="news-item row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div style="background-image:url(/assets/images/news-images/2.jpg);"></div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div>
                            <a href="11_blog-details.html"><h3>Duis vel tellus vitae ante tincidunt tincidun</h3></a>
                            <small class="news-author">BY JOHN DEO</small>
                            <small>JUN 29, 2015</small>
                        </div>
                    </div>
                </div>
                <div class="news-item row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div style="background-image:url(/assets/images/news-images/3.jpg);"></div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div>
                            <a href="11_blog-details.html"><h3>Duis vel tellus vitae ante tincidunt tincidun</h3></a>
                            <small class="news-author">BY JOHN DEO</small>
                            <small>JUN 29, 2015</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>