<div id="owl-main-slider" class="owl-carousel owl-theme owl-loaded owl-drag">
    <div class="item">
        <img src="/assets/images/main-slider/1.png" alt="slider">
        <div class="container-fluid">
            <div class="slider-content col-md-6 col-lg-6">
                <div style="display:table;">
                    <div style="display:table-cell; width:100px; vertical-align:top;">
                        <a class="prev owl-prev"><i class="fa fa-angle-left"></i></a>
                        <a class="next owl-next"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div style="display:table-cell;">
                        <h1>LARGE NUMBER OF FREIGHT WAYS MAKES US POWERFUL</h1>
                    </div>
                </div>
                <p>Nunc accumsan metus quis metus. Sed luctus. Mauris eu enim quisque dignissim nequesudm consectetuer dapibus wn eu leo integer varius erat.<br><a class="btn btn-success" href="#">LEARN MORE</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="/assets/images/main-slider/2.jpg" alt="slider">
        <div class="container-fluid">
            <div class="slider-content col-md-6 col-lg-6">
                <div style="display:table;">
                    <div style="display:table-cell; width:100px; vertical-align:top;">
                        <a class="prev owl-prev"><i class="fa fa-angle-left"></i></a>
                        <a class="next owl-next"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div style="display:table-cell;">
                        <h1>LARGE NUMBER OF FREIGHT WAYS MAKES US POWERFUL</h1>
                    </div>
                </div>
                <p>Nunc accumsan metus quis metus. Sed luctus. Mauris eu enim quisque dignissim nequesudm consectetuer dapibus wn eu leo integer varius erat.<br><a class="btn btn-success" href="#">LEARN MORE</a></p>
            </div>
        </div>
    </div>

    <div class="item">
        <img src="/assets/images/main-slider/3.jpg" alt="slider">
        <div class="container-fluid">
            <div class="slider-content col-md-6 col-lg-6">
                <div style="display:table;">
                    <div style="display:table-cell; width:100px; vertical-align:top;">
                        <a class="prev owl-prev"><i class="fa fa-angle-left"></i></a>
                        <a class="next owl-next"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div style="display:table-cell;">
                        <h1>LARGE NUMBER OF FREIGHT WAYS MAKES US POWERFUL</h1>
                    </div>
                </div>
                <p>Nunc accumsan metus quis metus. Sed luctus. Mauris eu enim quisque dignissim nequesudm consectetuer dapibus wn eu leo integer varius erat.<br><a class="btn btn-success" href="#">LEARN MORE</a></p>
            </div>
        </div>
    </div>
</div>
